<html>
    <head>
    </head>
    <body>
        <h2>Insights</h2>
        <p>
            - In timetable {{ dt }} there are <strong><i>{{ count }}</i></strong> teachers who are earning
            more than 1 lakhs per month and the sum of thir salaries is <strong><i>Rs.{{ total_salary }}</strong></i>
        </p>
        <p>- Total number of teachers who teach more than 1 subject: <strong><i>{{ tot_teachers_more_subs }} teachers</i></strong></p>
        <p>- Total hours for subjects that are taught by more than 1 teacher: <strong><i>{{ total_hours }} hours</i></strong></p>
    </body>
</html>
