<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" type="text/css" media="all"/>
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.5.min.js" type="text/javascript"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js" type="text/javascript"></script>
        <style>
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            }
            th, td {
              padding: 5px;
              text-align: left;
            }
        </style>
    </head>
    <body>
        <h1>Select date for which you wish to view Timetable</h1>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Show</button>
        </form>
        <h2>{{ message }}</h2>
        <br>
        {% if tt %}
            {% if month %}
                <a target="_blank" href="{% url 'school:insights' year=dt.year month=dt.month %}">Click here for Insights</a>
            {% else %}
                <a target="_blank" href="{% url 'school:insights' year=dt.year month=dt.month day=dt.day %}">Click here for Insights</a>
            {% endif %}
            <table style="width:100%">
                <caption>
                    <h3>Time Table</h3>
                </caption>
                <tr>
                    <th>Date</th>
                    <th>Classroom</th>
                    <th>Subject</th>
                    <th>Teacher</th>
                    <th>Web Lecture Available</th>
                </tr>
                {% for t in tt %}
                <tr>
                    <td>{{ t.dt }}</td>
                    <td>{{ t.classroom.name }}</td>
                    <td>{{ t.subject.name }}</td>
                    <td>{{ t.teacher.name }}</td>
                    {% if t.classroom.web_lecture_support and t.teacher.web_lecture_support %}
                        <td>Yes</td>
                    {% else %}
                        <td>No</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        {% endif %}
    </body>
    <script>
        $(function() {
            $( ".datepicker" ).datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "2019:2019",
            });
        });
    </script>
</html>
